.cart {
    color: rgb(151, 151, 151);
}

.ml {
    margin-left: 30px;
}

.hoverEffect:hover {
    background-color: rgba(180, 182, 180, 0.86);
    border-radius: 5px;
}

.body-section {
    background-color: #CBE1EF;
}

.textbox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
    height: 18.75rem;
}

.mg-l {
    margin-left: 3.75rem;
}

.button button {
    width: 300px;
    color: white;
    border-radius: 5px;
    background-color: #003E68;
}

.mg-r {
    margin-right: 3.75rem;
}

.hover {
    background-color: rgb(92, 113, 232);
}


.homeDiv {
    background-image: url(./assets/background.jpg);
    border-radius: 8px;
    opacity: 0.85;
    filter: saturate(1.4);
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
}